grimoirelab==1.19.0
grimoirelab-toolkit==1.2.5
perceval==1.4.5
perceval-mozilla==1.2.6
perceval-opnfv==1.1.6
perceval-puppet==1.1.6
perceval-weblate==1.1.6
grimoire-elk==1.7.0
sortinghat==1.13.0
kidash==1.1.6
grimoirelab-panels==1.2.0
sirmordred==1.2.6
cereslib==1.1.6
graal==1.2.6
